.git
.gitignore
.gitattributes

.github
.vscode
.vs
.idea/

**/bin/
**/obj/
**/out/

**/tests/

*.suo
*.user
*.log

*.nupkg
**/packages/*

[Tt]est[Rr]esult*/
*.trx

**/publish/

.dockerignore
Dockerfile
docker-compose*.yml

*.md
LICENSE

.DS_Store

*.tmp
*.temp
