*.suo
*.user
*.userosscache
*.sln.docstates

[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

.vs/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.trx

project.lock.json
project.fragment.lock.json
artifacts/

*.log
*.pdb

coverage*.json
coverage*.xml
coverage*.info
*.coverage
*.coveragexml

*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

*.binlog

.idea/
*.sln.iml

.DS_Store

.env
.env.local
.env.development
.env.production
.env.docker

*.db
*.sqlite
*.sqlite3